* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

body {
  font-family: "Commissioner", sans-serif;
  position: relative;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

/* Hero Section */

.hero-section {
  position: relative;
}

.hero-img {
  width: 100%;
}

/* Navbar */

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 12vw;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  padding: 1.6rem 0;
  border-radius: 0.5rem;
  list-style: none;
}

.nav-links li a {
  letter-spacing: 0rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  transition: all ease 0.3s;
}

.nav-links a {
  color: #fff;
}

.nav-links a:hover {
  background-color: #fff;
  color: #000;
}

.check-btn {
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 1.3rem 3rem;
  }

  .check-btn {
    display: block;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 4rem;
    right: 4rem;
    left: 4rem;
    padding: 0;
    gap: 0;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: all 0.3s;
    z-index: 2;
    box-shadow: 0px 5px 10px #00000030;
  }

  .border {
    border-bottom: 1px solid #0000001b;
  }

  .nav-links li {
    width: 100%;
    padding: 1.3rem;
  }

  .nav-links li a {
    padding: 0;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
  }

  #check:checked ~ .nav-links {
    display: flex;
  }
}

/* Main Section */

.main-section {
  position: absolute;
  left: 26vw;
  right: 26vw;
  top: clamp(80px, 4vh + 15vw, 19rem);
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .main-section {
    left: 2rem;
    right: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .main-section {
    left: 15vw;
    right: 15vw;
  }
}

/* Head Section */

.head-div {
  position: relative;
  background-color: #fff;
  text-align: center;
  border: 1.5px solid hsla(0, 0%, 48%, 0.202);
  border-radius: 0.6rem;
}

.head-div svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inside-head-heading-div {
  padding: 2rem 1rem;
}

.inside-head-heading-div h1 {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 800;
}

.inside-head-heading-div p {
  font-size: 1rem;
}

.inside-head-button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 0.7rem;
}

.inside-head-back-button {
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: 600;
  border: none;
  background-color: hsl(176, 51%, 45%);
  transition: all ease 0.3s;
}

.inside-head-back-button:hover {
  cursor: pointer;
  background-color: hsl(176, 49%, 35%);
}

.bookmark {
  display: flex;
  border-radius: 3rem;
  background-color: hsl(0, 0%, 85%);
}

.inside-head-bookmark-button {
  color: hsl(0, 0%, 46%);
  padding: 1rem 1rem;
  padding-right: 2rem;
  font-weight: 600;
  border: none;
  background: none;
}

@media screen and (max-width: 600px) {
  .inside-head-bookmark-button {
    display: none;
  }
}

/* Statistics Section */

.data-div {
  border: 1.5px solid hsla(0, 0%, 48%, 0.202);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
}

.inside-data-div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10%;
}

.data-div-second {
  border-left: 1.5px solid hsla(0, 0%, 48%, 0.202);
  border-right: 1.5px solid hsla(0, 0%, 48%, 0.202);
  padding: 0 2rem;
}

.data-bar-div {
  display: flex;
  height: 0.3rem;
  margin-top: 1rem;
}

.left-bar {
  background-color: hsl(176, 51%, 45%);
  border-radius: 10px;
  width: 75%;
  height: 0.3rem;
}

.right-bar {
  background-color: hsla(0, 0%, 48%, 0.202);
  border-radius: 0 10px 10px 0;
  width: 25%;
  height: 0.3rem;
}

/* About This Project Section */

.about-this-project {
  border: 1.5px solid hsla(0, 0%, 48%, 0.202);
  border-radius: 0.6rem;
  margin-top: 1rem;
  padding: 2rem 2rem 4rem 2rem;
}

.about-this-project h2 {
  margin-bottom: 0.5rem;
}

.about-this-project p {
  padding-top: 1rem;
}

/* Reward-card Section */

.reward-card {
  border: 1.5px solid hsla(0, 0%, 48%, 0.202);
  border-radius: 0.6rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.reward-card p {
  padding: 0.25rem 0;
}

.inside-div-reward-card p {
  padding-top: 0;
}

.inside-div-reward-card {
  padding: 1rem 0;
}

.inside-div-reward-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-part-div-inside-div-reward-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
